{% extends 'base.html' %}

{% block content %}
<!-- Seção de Impacto (Hero) -->
<section class="hero container">
    <h1>NOVA COLEÇÃO</h1>
    <p>O estilo das ruas agora na sua mão.</p>
</section>

<!-- Cabeçalho de Categoria (Aparece apenas quando houver filtro) -->
{% if categoria_atual %}
    <div class="category-header container">
        <h2>{{ categoria_atual|upper }}</h2>
    </div>
{% endif %}

<!-- Grade de Produtos -->
<section class="product-grid container">
    {% for produto in produtos %}
    <div class="product-card">
        <div class="product-image">
            <a href="{{ url_for('product_detail', id=produto.id) }}">
                <img src="{{ url_for('static', filename='uploads/' + produto.image) }}" alt="{{ produto.name }}">
            </a>
        </div>
        <div class="product-info">
            <h3>{{ produto.name|upper }}</h3>
            <p class="price">R$ {{ "%.2f"|format(produto.price) }}</p>
            <a href="{{ url_for('product_detail', id=produto.id) }}" class="btn-buy">Ver Detalhes</a>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}